In [1]:
2<10

True

In [2]:
(2).__lt__(10)

True

In [3]:
10 == 1

False

In [4]:
"abc" == "abc"

True

In [5]:
"abc".__eq__("abc")

True

In [ ]:
a = 10
b = 20
if a<b:
    print("a < b")
else:
    print("a >= b")

a < b

In [7]:
if True:
    print("Este bloque siempre se ejecuta")

Este bloque siempre se ejecuta

In [ ]:
my_list = [1,2,3]
print(my_list)
if my_list:
    print("my_list es truthly")
else:
    print("my_list No es truthly")

[]
my_list No es truthly

In [11]:
my_list = [10,20,30,40]
my_list

[10, 20, 30, 40]

In [12]:
my_list.pop()

40

In [13]:
my_list

[10, 20, 30]

In [14]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [15]:
my_tuple = 1,2,3
my_tuple

(1, 2, 3)

In [16]:
type(my_tuple)

tuple

In [17]:
type(my_list)

list

In [18]:
type(True)

bool

In [19]:
my_empty_tuple = ()
my_empty_tuple

()

In [20]:
if not my_empty_tuple:
    print("Esto está vacío")

Esto está vacío

In [ ]:
saludo = "Hola Mundo"
saludo

'Hola Mundo'

In [22]:
saludo = 'Hola Mundo'
saludo

'Hola Mundo'

In [23]:
"aba".replace("a","A")

'AbA'

In [25]:
my_str = "aba"
print(hex(id(my_str)))
my_str = my_str.replace("a","b")
print(hex(id(my_str)))

0x1543ae7cd50
0x1543ae35320

In [26]:
my_str = "Line1\nLine2\nLine3"
print(my_str)

Line1
Line2
Line3

In [ ]:
multiline= """
Line1
Line2
Line3
"""
print(multiline)

Line 1
Line2
Line3

In [28]:
a = 10
"Esto es importante"
if True:
    print("Todo Ok")

Todo Ok

In [29]:
my_str = r"Line1\nLine2\nLine3\n"
print(my_str)

Line1\nLine2\nLine3\n

In [30]:
a = 10
b = 2
print(f"Resultado: {a}")

Resultado: 10

In [31]:
print(f"Resultado: {a*b}")

Resultado: 20

In [32]:
my_float = 0.12345
my_fstring = f"mi flotante es {my_float}"
print(my_fstring)

mi flotante es 0.12345

In [34]:
my_float = 0.12823
my_fstring = f"mi flotante es {my_float:.2f}"
print(my_fstring)

mi flotante es 0.13

In [36]:
my_list = [10, 20, 30]
my_list

[10, 20, 30]

In [37]:
len(my_list)

3

In [38]:
my_list.__len__()

3

In [39]:
len("Hola Mundo")

10

In [40]:
my_seq = 3.14, "pi", (1,"Madrid")
my_seq

(3.14, 'pi', (1, 'Madrid'))

In [41]:
my_seq[0]

3.14

In [42]:
my_seq[1]

'pi'

In [45]:
my_seq[2]

(1, 'Madrid')

In [46]:
my_seq[len(my_seq) -1]

(1, 'Madrid')

In [47]:
my_seq[-1]

(1, 'Madrid')

In [48]:
print(my_seq)
my_seq[-3]

(3.14, 'pi', (1, 'Madrid'))

3.14

In [49]:
palabra = "workbook"
palabra[0]

'w'

In [50]:
palabra.__getitem__(0)

'w'

In [53]:
matrix = [
    [1,2,3],
    [4,5,6]
]
matrix

[[1, 2, 3], [4, 5, 6]]

In [55]:
matrix[1][1]

5