In [1]:
my_list = [10,20,30,40]
my_list

[10, 20, 30, 40]

In [2]:
my_list[1]

20

In [3]:
my_list.__getitem__(1)

20

In [4]:
my_list[0:3]

[10, 20, 30]

In [5]:
my_list = [10,20,30,40]
my_list[1:]

[20, 30, 40]

In [6]:
my_list[0:3:2]

[10, 30]

In [7]:
my_list[:len(my_list)+1000:2]

[10, 30]

In [9]:
'''
[start:stop:step]
'''

'\n[start:stop:step]\n'

In [11]:
start = 0
stop = 2
my_tuple = 1,2,3,4
st = slice(start,stop)
my_tuple[st]

(1, 2)

In [12]:
my_str = "Hola Mundo"
my_str[::-1]

'odnuM aloH'

In [13]:
my_list = [10,20,30]
my_list.append(100)
my_list

[10, 20, 30, 100]

In [14]:
my_list[0] = 100
my_list

[100, 20, 30, 100]

In [15]:
my_list = [10,20,30]
my_list, id(my_list)

([10, 20, 30], 3099967057664)

In [16]:
var1 = [1,2,3]
var2 = var1
id(var1),id(var2)

(3099967282624, 3099967282624)

In [17]:
var1.append(100)
var1

[1, 2, 3, 100]

In [18]:
var2

[1, 2, 3, 100]

In [21]:
var1 = 2
print("ID var1 antes de sumar: ",id(var1))
var1 = var1 + var1
print("ID var1 después de sumar: ",id(var1))

ID var1 antes de sumar:  140724531495880
ID var1 después de sumar:  140724531495944

In [22]:
my_tuple = ([1,2], [3,4])
my_tuple[0][0] = 100
my_tuple

([100, 2], [3, 4])

In [23]:
a = [1,2]
b = a[:]
id(a),id(b)

(3099967354240, 3099967460800)

In [24]:
a.append("Hola")
a,b

([1, 2, 'Hola'], [1, 2])

In [25]:
a = [1,2]
b = a[:]
a is b

False

In [26]:
a == b

True

In [27]:
a=[1,2,3]
b = a.copy()
a is b

False

In [28]:
a = [[1,2],[3,4]]
b = a.copy()
a is b

False

In [31]:
a[1][0] = 300
a,b

([[1, 2], [300, 4]], [[1, 2], [300, 4]])

In [32]:
from copy import deepcopy
a = [[1,2],[3,4]]
b = deepcopy(a)
a is b

False

In [33]:
a[0] is b[0]

False

In [34]:
a[1][0] = 300
a,b

([[1, 2], [300, 4]], [[1, 2], [3, 4]])